.container {
    max-width: 60rem;
    margin: 0 auto;
}

.todos {
    margin: 2rem;
    border-radius: .3rem;
    background-color: rgb(23, 30, 51);
    color: white;
    font-size: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.644);
    overflow: hidden;
}

.todo {
    border-bottom: 1px solid rgba(146, 146, 146, 0.377);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    transition: .1s ease;
}

.todo div {
    display: flex;
    align-items: center;
}

.todo:hover {
    cursor: pointer;
    background: rgb(32, 41, 70);
}

/* add a todo */
.todo__add {
    font-size: 1.5rem;
    color: rgba(146, 146, 146, 0.616);
    margin-right: 2rem;
}

.todo__add:hover {
    transform: scale(1.6);
    color: white;
}

.todo__input {
    background: none;
    border: none;
    padding: .5rem 2rem;
    min-width: 34rem;
    color: white;
}

.todo__input:focus {
    color: white;
}

/* when todo isn't checked */
.todo__check {
    width: 2rem;
    height: 2rem;
    text-shadow: 0 .2rem .2rem black;
    border-radius: 50%;
    border: 1px solid rgba(146, 146, 146, 0.616);
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.todo__check:hover {
    transform: scale(1.2);
    border: 1px solid white;
}

.todo__text {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .5rem;

}

/* when todo is checked */
.todo__check--isComplete {
    width: 2rem;
    height: 2rem;
    background: radial-gradient(circle, rgb(201, 211, 255) 0%, rgb(99, 125, 255) 100%);
    text-shadow: 0 .2rem .2rem black;
    border-radius: 50%;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.todo__text--isComplete {
    text-decoration: line-through;
    color: rgba(146, 146, 146, 0.616);
}

/* delete a todo */
.todo__delete {
    font-size: 1rem;
    color: rgba(146, 146, 146, 0.616);
    transition: .2s ease-out;
    position: relative;
    transform: rotate(5deg);
}

.todo__delete:hover {
    color: white;
    transform: rotate(95deg) scale(2);
}

.todo__delete--effect {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(95deg);
    color: transparent;
    transition: .2s ease-out;
}

.todo__delete--effect:hover {
    color: white;
}

/* aside content */
.aside {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__itemsLeft {
    color: rgba(146, 146, 146, 0.616);
    font-size: 1.2rem;
    letter-spacing: .3rem;
}

.aside__clear {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(146, 146, 146, 0.616);
    transition: .1s ease;
    transform-origin: right;
}

.aside__clear:hover {
    color: white;
    transform: scale(1.1);
}