.App {
    min-height: 100vh;
    background-color: rgb(21, 23, 32);
}

.signIn {
    padding-top: 2rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

.signIn__title {
    color: white;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(245, 245, 245);
    min-height: 15rem;
    background: linear-gradient(140deg, rgba(225, 0, 255, 0.75), rgba(4, 46, 233, 0.75)), url(./img/bg_image.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    position: relative;
}

.header__title {
    font-size: 2.3rem;
    letter-spacing: 1.5rem;
}

.user {
    text-align: right;
}

.user__logout {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: .1s ease;
}

.user__logout:hover {
    transform: scale(1.2);
    transform-origin: top right;
}